<ion-view view-title="Write Round">
  <ion-content class="padding">
    <ion-list>
    <label class="item item-input">
      <span class="input-label">Username</span>
      <input type="text">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password">
    </label>
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="email">
    </label>
    <button class="button button-block button-assertive">Sign Up</button>
    </ion-list>
  </ion-content>
</ion-view>
