<ion-view view-title="Write Round">
  <ion-content class="padding">
    <a class="button button-balanced icon icon-left ion-ios-compose" href="#/tab/session">New Story Session</a>
    <div class="list card">
      <div class="item item-divider">Your Turn</div>
      <div class="item item-body">
        <div>
          There are no stories waiting for your turn.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Active Stories</div>
      <div class="item item-body">
        <div>
          There are no active stories.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Finished Stories</div>
      <div class="item item-body">
        <div>
          There are no finished stories.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
